<h3>Edita la data de el doctor {{dataDoctor.apellidoDoctor}} {{dataDoctor.apellidomDoctor}}</h3>
<form *ngIf="dataDoctor">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label m-b-20 title">Frase Corta</label>
                <textarea type="text" id="name" class="form-control" name="fraseCorta"  [(ngModel)]="dataDoctor.fraseCorta">{{dataDoctor.fraseCorta}}</textarea>
              </div>
        </div>
        <div class="col-6">
            <div class="form-group">
              <label class="control-label m-b-20 title">Sobre mí</label>
              <textarea type="text" id="name" class="form-control" name="fraseExtendida"  [(ngModel)]="dataDoctor.fraseExtendida"  value="{{dataDoctor.fraseExtendida}}">{{dataDoctor.fraseExtendida}}</textarea>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
              <label class="control-label m-b-20 title">Formación</label>
              <textarea type="text" id="name" class="form-control" name="formacion"  [(ngModel)]="dataDoctor.formacion"  value="{{dataDoctor.formacion}}">{{dataDoctor.formacion}}</textarea>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
              <label class="control-label m-b-20 title">Enfermedades que trato</label>
              <textarea type="text" id="name" class="form-control" name="enferquetrato"  [(ngModel)]="dataDoctor.enferquetrato"  value="{{dataDoctor.enferquetrato}}"></textarea>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"><button class="btn btn-error" (click)="close()">Cancelar</button></div>
            <div class="col"><button class="btn btn-info" (click)="upDateDataPatient()">Actualizar data doctor</button></div>
        </div>
    </div>

</form>
