<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper" style="height:100vh!important;">
  <div class="container-fluid">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Doctores inscritos</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item">Citas Guardadas</li>
        </ol>
      </div>
      <div class="">
        <button
          class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i
            class="ti-settings text-white"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="table-responsive">
                  <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>Doctor</th>
                        <th>FraseCorta</th>
                        <th>fraseExtendida</th>
                        <th>formacion</th>
                        <th>enfermedades</th>
                        <th>aprobar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let c of dataDoctors | paginate: { itemsPerPage: 10, currentPage: p}">
                        <td>{{c.data.idDoc}}</td>
                        <td>{{c.data.nombreDoctor}} {{c.data.apellidoDoctor}} {{c.data.apellidomDoctor}}</td>
                        <td>{{c.data.fraseCorta}}</td>
                        <td>{{c.data.fraseExtendida}} </td>
                        <td>{{c.data.formacion}}</td>
                        <td>{{c.data.enferquetrato}}</td>
                        <td *ngIf="c.data.visible == false"> <button class="btn btn-info bt-outline" (click)="upDateDoctorVisibility(c)">aprobar</button>
                        <td *ngIf="c.data.visible == true"> <button class="btn btn-light bt-dissabled" >aprobado</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

          
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
