<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper" style="height:100vh!important;">
  <div class="container-fluid">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Doctores inscritos</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item">Citas Guardadas</li>
        </ol>
      </div>
      <div class="">
        <button
          class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i
            class="ti-settings text-white"></i></button>
      </div>
    </div>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="DATA DOCTORES">  <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="table-responsive">
                  <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                    <thead >
                      <tr>
                        <th style="text-align: center">id</th>
                        <th style="text-align: center">imagen</th>
                        <th style="text-align: center">Doctor</th>
                        <th style="text-align: center">Frase Corta</th>
                        <th style="text-align: center">frase Extendida</th>
                        <th style="text-align: center">formacion</th>
                        <th style="text-align: center">enfermedades que trata</th>
                        <th style="text-align: center">editar</th>
                        <th style="text-align: center">aprobar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let c of dataDoctors1 | paginate: { itemsPerPage: 10, currentPage: p}">
                        <td>{{c.professionalId}}</td>
                        <td> <img class="imagenDoctor" src="{{urlBase}}/api/v2/ebooking/professionals/{{c.professionalId}}/image-url" alt="" (click)="upImage(c)"></td>
                        <td>{{c.professionalFullname}}</td>
                        <td>{{c.shortSpeach}}</td>
                        <td>{{c.longSpeach}} </td>
                        <td id="nested" >
                                  <table id="tabla2"  >
                                    <thead>
                                      <tr >
                                        <th style="text-align: center">id</th>
                                        <th style="text-align: center">centro</th>
                                        <th style="text-align: center" >Carrera</th>
                                        <th style="text-align: center" >Datos</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let d of c.professionalTrainings let item=index">
                                        <th scope="row">{{item+1}}</th>
                                        <td *ngIf="d.nameCenter">{{d.nameCenter}}</td>
                                        <td *ngIf="d.career">{{d.career}}</td>
                                        <td >{{d.data}}</td>
                                        
                                      </tr>
                                    </tbody>
                                      
                                  </table>
                        </td>
                        <td>{{c.enferquetrato}}</td>
                        <td> <button class="btn btn-success bt-success" (click)="editDoctor(c)">editar</button>
                        <td *ngIf="c.visible == false"> <button class="btn btn-info bt-outline" (click)="updatestatusdoctores(c.professionalId)">aprobar</button>
                        <td *ngIf="c.visible == true"> <button class="btn btn-light bt-dissabled" >aprobado</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

          
        </div>
        
      </div>
    </div> </mat-tab>
    <mat-tab label="INFO DOCTORES">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>Imagen</th>
                      <th>Doctor</th>       
                 <!--     <th>cmp</th>
                      <th>rne</th>-->
                      <th>editar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of doctorsInfo| paginate: { itemsPerPage: 40, currentPage: p}">
                      <td>{{c.professionalId}}</td>
                      <td> <img class="imagenDoctor" src="{{urlBase + c.imageUrl}}" alt=""></td>
                      <td>{{c.professionalFullname}}</td>
                     <!--  <td>{{c.cmp}}</td>
                      <td>{{c.rne}} </td>-->
                      <td> <button class="btn btn-success bt-success" (click)="editDoctor(c)">editar</button>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
